.slider-container {
    margin-bottom: 1rem;
    display: flex;
      flex-direction: column;
  }
  .slider-label-container {
    display: flex;
    justify-content: space-between;
      margin-bottom: 5px;
  }
  
  .slider-label {
      font-weight: bold;
  }
  
  .slider-value {
      font-weight: bold;
  }